.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;
  padding-top: 80px;
}

.main-page {
  display: block;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
    padding-top: 180px;
  }
}
